{% extends 'base/base.html' %}
{% load static %}

    {% block content %}
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
        
        {% block navbar %}  
        <header class="app-header navbar">
            <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="navbar-brand-full" src="{% static 'core-ui/img/brand/logo.svg' %}" width="89" height="25" alt="Oozma Kappa Logo">
                <img class="navbar-brand-minimized" src="{% static 'core-ui/img/brand/sygnet.svg' %}" width="30" height="30" alt="Oozma Kappa Logo">
            </a>
            <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#">
                    <i class="icon-bell"></i>
                    <span class="badge badge-pill"></span>
                </a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" src="{% static 'core-ui/img/avatars/6.jpg' %}" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                    <strong>Cuenta</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                    <i class="fa fa-bell-o"></i> Notificaciones
                    <span class="badge badge-info">0</span>
                    </a>
                    <div class="dropdown-header text-center">
                    <strong>Configuraciones</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                    <i class="fa fa-user"></i> Perfil</a>
                    <a class="dropdown-item" href="#">
                    <i class="fa fa-lock"></i> Cerrar sesión</a>
                </div>
                </li>
            </ul>
        </header>
        {% endblock navbar %}

        <div class="app-body">
            
            {% block sidebar %}
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="nav-icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-title">SECCION 1</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="nav-icon icon-pencil"></i> PÁGINA 1</a>
                    </li>
                    <li class="nav-title">SECCION 2</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon icon-puzzle"></i> PÁGINA 2 DD</a>
                        <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <i class="nav-icon icon-puzzle"></i> DROPDOWN 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <i class="nav-icon icon-puzzle"></i> DROPDOWN 2</a>
                        </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="nav-title">SECCIÓN 3</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon icon-star"></i> PÁGINA 3 DD</a>
                        <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_top">
                            <i class="nav-icon icon-star"></i> DROPDOWN 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_top">
                            <i class="nav-icon icon-star"></i> DROPDOWN 2</a>
                        </li>
                        </ul>
                    </li>
                    </ul>
                </nav>
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
            </div>
            {% endblock sidebar %}

            <main class="main">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Inicio</li>
                    <li class="breadcrumb-item active">{{pagename}}</li>                
                </ol>
                {% block wrapper %}

                {% endblock wrapper %}
            </main>
        </div>

        {% block footer %}
        <footer class="app-footer">
            <div>
            <a href="#">SIP</a>
            <span>&copy; 2018 Oozma Kappa.</span>
            </div>
            <div class="ml-auto">
            <span>Powered by</span>
            <a href="#">Oozma Kappa</a>
            </div>
        </footer>
        {% endblock footer %}
    {% endblock content %}