{% extends 'base/base.html' %}
{% load static %}

    {% block content %}

    
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
        
        {% block navbar %}  
        <header class="app-header navbar">
            <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="navbar-brand-full" src="{% static 'images/USB_logo.svg.png' %}" width="70" height="45" alt="Oozma Kappa Logo">
                <img class="navbar-brand-minimized" src="{% static 'images/USB_logo.svg.png' %}" width="30" height="20" alt="Oozma Kappa Logo">
            </a>
            <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>
        {% endblock navbar %}

        

        <div class="app-body">
            
            {% block sidebar %}
            <div class="sidebar" style="background-color:#373736">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a id="db" class="nav-link" href="#" style="color:#FAD534">Dashboard
                            </a>
                        </li>
                        <li class="nav-title">Coordinador</li>                            
                        <li class="nav-item">
                            <a id="as" href="{% url 'asignaturas:dashboard' %}" class="nav-link"> 
                            <i class="nav-icon icon-pencil"></i> 
                            ASIGNATURAS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'oferta:dashboard' %}" class="nav-link" >
                            <i class="nav-icon icon-pencil"></i> OFERTAS</a>
                        </li>
                    </ul>
                </nav>
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
                
                <!-- funcion para cambiar color -->
                <script>
                </script>
            </div>
            
            {% endblock sidebar %}

            <main class="main" style="background-color:#C9C6BB">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Inicio</li>
                    <li class="breadcrumb-item active">{{pagename}}</li>                
                </ol>
                {% block wrapper %}

                {% endblock wrapper %}
            </main>
        </div>

        {% block footer %}
        <footer class="app-footer" style="background-color:#FAD534">
            <div>
            <a href="#">SIP</a>
            <span style="color:black">&copy; 2018 Oozma Kappa.</span>
            </div>
            <div class="ml-auto">
            <span style="color:black">Powered by</span>
            <a href="#" style="color:black">Oozma Kappa</a>
            </div>
        </footer>
        {% endblock footer %}
    {% endblock content %}