{% extends 'base/base.html' %}
{% load static %}

    {% block content %}

    
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
        
        {% block navbar %}  
        <header class="app-header navbar">
            <link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}">
            <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="navbar-brand-full" src="{% static 'images/USB_logo.svg.png' %}" width="70" height="45" alt="Oozma Kappa Logo">
                <img class="navbar-brand-minimized" src="{% static 'images/USB_logo.svg.png' %}" width="30" height="20" alt="Oozma Kappa Logo">
            </a>
            <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#">
                    <i class="icon-bell"></i>
                    <span class="badge badge-pill"></span>
                </a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" src="{% static 'core-ui/img/avatars/6.jpg' %}" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                    <strong>Cuenta</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                    <i class="fa fa-bell-o"></i> Notificaciones
                    <span class="badge badge-info">0</span>
                    </a>
                    <div class="dropdown-header text-center">
                    <strong>Configuraciones</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                    <i class="fa fa-user"></i> Perfil</a>
                    <a class="dropdown-item" href="#">
                    <i class="fa fa-lock"></i> Cerrar sesión</a>
                </div>
                </li>
            </ul>
        </header>
        {% endblock navbar %}

        

        <div class="app-body">
            
            {% block sidebar %}
            <div class="sidebar" style="background-color:black">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a id="db" class="nav-link" href="#" style="color:#D1A811">Dashboard
                            </a>
                        </li>
                        <li class="nav-title">Coordinador</li>                            
                        <li class="nav-item">
                            <a id="as" href="/asignaturas/" class="nav-link" onclick="changeColor('as'); return false;"> 
                            <i class="nav-icon icon-pencil"></i> 
                            ASIGNATURAS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" >
                            <i class="nav-icon icon-pencil"></i> OFERTAS</a>
                        </li>
                    </ul>
                </nav>
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
                
                <!-funcion para cambiar color>
                <script>
                 function changeColor(id)
                    {
                        document.getElementById(id).style.color = "white"; // forecolor
                        document.getElementById(id).style.backgroundColor = "#D1A811"; // backcolor
                    } 
                </script>
            </div>
            
            {% endblock sidebar %}

            <main class="main" style="background-color:#C9C6BB">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Inicio</li>
                    <li class="breadcrumb-item active">{{pagename}}</li>                
                </ol>
                {% block wrapper %}

                {% endblock wrapper %}
            </main>
        </div>

        {% block footer %}
        <footer class="app-footer" style="background-color:#D1A811">
            <div>
            <a href="#">SIP</a>
            <span style="color:black">&copy; 2018 Oozma Kappa.</span>
            </div>
            <div class="ml-auto">
            <span style="color:black">Powered by</span>
            <a href="#" style="color:black">Oozma Kappa</a>
            </div>
        </footer>
        {% endblock footer %}
    {% endblock content %}