{% extends 'base/base_coordinador.html' %}
{% load static %}

<!-- Archivo de página en blanco que en este caso importa el base de los coordinadores. 
    De aquí se partirá para hacer las páginas.
-->

            {% block wrapper %}
                <div class="container-fluid">
                    <div class="animated fadeIn">
                        <a href="{% url 'asignaturas:dashboard' %}">
                            <button class="btn btn-primary">Asignaturas</button>
                        </a>
                    </div>
                </div>
            {% endblock wrapper %}