
.title{
  font-size: 40px;
  margin-top: 2%;
  color: #494949;
}

.botonAgregar{
  padding: 25px 18px;
  background-color: #FAD534;
  color: #494949;
  border-radius: 50%;
  margin-left: -150px;
}
.botonDescargar{
    padding: 20px 18px;
    background-color: #FAD534; 
    color: #494949;
    border-radius: 50%;

  }
#placeDownload{
  margin-left: 2%;
  margin-top: 1%;

  }
.buscador{
  padding: 12px 24px;
  color: #575757;
  font-size: 18px;
  background-color: transparent;
  background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
  background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid rgb(66, 65, 61);
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.flip3D {
  height: 18rem;
}

.flip3D > .front {
  position: absolute;
  width: 15em;
  height: 18em;
  background: #FAD534;
  border-radius: 0.3em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform: perspective(60em) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}

.flip3D > .back {
  position: absolute;
  width: 15em;
  height: 18em;
  background: #FAD534;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform: perspective(60em) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}

.flip3D.active > .front {
  transform: perspective(60em) rotateY(-180deg);
  display
}

.flip3D.active > .back {
  transform: perspective(60em) rotateY(0deg);
}

.front-text{
  font-size: 30px;
  color: #494949;
  vertical-align: middle;
  text-align: center;
  margin-top: 35%;
}

.flip3D > .back > form{
  margin-top:35%;
  font-size: 1.3em;
  margin-left: 20px;
}

input[type="number"]{
  width: 70px;
  border:none;
  background-color: #FAD534;
  border-bottom: 2px solid #494949;
}

form {
  color: #494949;
}

select {
  width: 80px;
  box-shadow: none;
  color: #494949;
  background-color: transparent;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid rgb(66, 65, 61);
  transition: all 250ms ease-in-out;
}

option {
  background-color: white;
}

#create-oferta-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#oferta-add {
  background-color: transparent;
  font-size: 4rem;
}

.front {
  position: relative;
}

.management-btns {
  display: none;
  padding: .5rem;
  font-size: 1rem;
  position: absolute;
  text-align: left;
  top: 0;
  right: 0;
}

.front:hover .management-btns {
  display: block;
}