{% extends "base/base_coordinador.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}" type="text/css">

<style type="text/css">
	*{margin:0;padding:0}
	
	.margin-left{
		margin-left: 37px;
	  font-family: 'Montserrat', sans-serif;
	}

	.category{
	  background-color: #FAD534;
	  height: 60px;
	  line-height: 60px;
	  font-size: 25px;
	  padding-left: 20px;
	  color: white;
	}

	.sortable{
	  list-style-type: none;
	  margin-bottom: 20px;
	  min-height: 40px;
	}

	.handle:hover{
	  cursor: move;
	}

	.sortable li{
	  background-color: white;
	  font-size: 18px;
	  line-height: 40px;
	  height: 40px;
	  padding: 1px 15px 11px 15px;
	  margin-bottom: 2px;
	}

	li i.handle{
	  float:right;
	  line-height: 40px;
	  font-size: 20px;
	  margin-right: 20px;
	}

	.tabla-asignaturas-oferta{
		margin-left: 0px;
	}
	.botoncito button{
		background: #FAD534;
		color: white;
		margin-left: 600px;
		margin-bottom: 5%; 
		margin-left: 5%;
	}
	button:hover {
    	background-color: #FAD534;
    	color: black;


	}
	.col-sm-4 select{
		font-size: 28px; 
		margin-left: 5%;
		border: 0px;	
	}
	.col-sm-4 p{
		font-size: 28px; 
		margin-left: 5%;	
	}
	.col-sm-4 input{
		font-size: 28px; 
		margin-left: 5%;	
	}
	div.col-md-6 {
		visibility: hidden;
	}


</style>
<link rel="stylesheet" href="{% static 'css/oferta/index.css' %}">

{% endblock customhead %}
{% block wrapper %}

<div class="row">

	<div class="col-sm-4">

		<p class="title" >Detalle de la Oferta: </p>
	</div>

	<label for="thing-1"></label>
	<div class="col-sm-4">
		<form>
		
		<select id="mySelect" disabled="true" class="editable thing-1">{{oferta.get_trimestre_display}}
			{% if oferta.get_trimestre_display == "Enero - Marzo" %}
				<option value="0">Enero - Marzo</option>
				<option value="1">Abril - Julio</option>
		  		<option value="2">Septiembre - Diciembre</option>

		  	{% elif oferta.get_trimestre_display == "Abril - Julio" %}
			    <option value="1">Abril - Julio</option>
			    <option value="0">Enero - Marzo</option>
		  		<option value="2">Septiembre - Diciembre</option>

			{% elif oferta.get_trimestre_display == "Septiembre - Diciembre" %}
				<option value="2">Septiembre - Diciembre</option>
				<option value="0">Enero - Marzo</option>
				<option value="1">Abril - Julio</option>
		  		
			{% endif %}
		  

		</select>
		
		</form>
	</div>

	<label for="thing-2"></label>
	<div class="col-sm-4">
		<p id="anio" class="editable thing-2"> {{oferta.anio}} </p>
	</div>
</div>
<!--Boton para editar la oferta-->

		<div class="botoncito">
			<button id="guardar" style="display:none;" type="button" class="btn btn--submit" onClick="action(); ">Guardar</button>
		</div>
		<!--Fin del boton-->
		<div class="botoncito">
		    <button id="editar" type="button" class="btn btn--edit" onclick="action();" > Editar
		    
			<span class="glyphicon glyphicon-pencil" ></span>
			</button>
		</div>
<!--Fin del boton-->
<div class="container-fluid margin-left">
	<div class="row">
		<div class="col-md-5 tabla-asignaturas-oferta">
			<div class="category">Asignaturas de la Oferta</div>
		    <ul class="sortable">
					{% for asignatura in asignaturas %}
		      <li>{{asignatura.codasig}} - {{asignatura.nombre}}<i class="handle fa fa-bars"></i></li>
					{% endfor %}					
		    </ul>
		</div>
		<div id ="table" class="col-md-6" >
		    <div class="category">Todas las Asignaturas</div>
		    <ul class="sortable">
					{% for asignatura in lista_asignaturas %}
					<li>{{asignatura.codasig}} - {{asignatura.nombre}}<i class="handle fa fa-bars"></i></li>
					{% endfor %}
		    </ul>
		</div>	
	</div>



    
  

</div>

<script>
    var hidden = false;
    function action() {
        hidden = !hidden;
        if(hidden) {
            document.getElementById('editar').style.visibility = 'hidden';
            document.getElementById('guardar').style.visibility = 'visible';
            document.getElementById("mySelect").disabled=false;
            document.getElementById("anio").contentEditable = true;
            document.getElementById("table").style.visibility = "visible";



        } else {
            document.getElementById('editar').style.visibility = 'visible';
            document.getElementById('guardar').style.visibility = 'hidden';
            document.getElementById("mySelect").disabled=true;
            document.getElementById("anio").contentEditable = false;
            document.getElementById("table").style.visibility = "hidden";
            
        }
    }

	function toggleEditable() {

	let editBtn = document.querySelector('.btn--edit');

	if (editBtn.style.display === 'none') {
  
  	let editables = document.querySelectorAll('.editable');
  	contenteditable = 'true';
    
    editables.forEach((el, i) => {
      el.style.border = '';
      el.setAttribute('readonly','readonly');
    });  
    
    document.querySelector('.btn--submit').style.display = '';
    document.querySelector('.btn--edit').style.display = '';
  }
  else {
		
    let editables = document.querySelectorAll('.editable');
  
    editables.forEach((el, i) => {
      el.style.border = '1px solid #aaa';
      el.removeAttribute('readonly');
    });
	
  	document.querySelector('.btn--submit').style.display = 'block';
    document.querySelector('.btn--edit').style.display = 'none';
  }
}

function makeRequest() {
	console.log('inside makeRequest');
}

function saveChanges(e) {
	e.preventDefault();
  toggleEditable();
  makeRequest();
}


document.querySelector('.btn--edit').addEventListener('click', toggleEditable);
document.querySelector('.btn--submit').addEventListener('click', saveChanges);
</script>



{% endblock wrapper %}
{% block customscripts %}

<script type="text/javascript">
	$(function() {
    $(".sortable").sortable({
      connectWith: ".sortable",
      handle: '.handle' 
    }).disableSelection();
  
});
</script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

  
{%  endblock customscripts %}