{% extends "base/base_coordinador.html" %}
{% load static %}
{% block customhead %}
{% load widget_tweaks %}

<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}" type="text/css">

<style type="text/css">

	.margin-left{
		margin-left: 37px;
	  font-family: 'Montserrat', sans-serif;
	}

	.category{
	  background-color: #FAD534;
	  height: 60px;
	  line-height: 60px;
	  font-size: 25px;
	  padding-left: 20px;
	  color: white;
	}

	.sortable{
	  list-style-type: none;
	  margin-bottom: 20px;
	  min-height: 40px;
	}

	.handle:hover{
	  cursor: move;
	}

	.sortable li{
	  background-color: white;
	  font-size: 18px;
	  line-height: 40px;
	  height: 40px;
	  padding: 1px 15px 11px 15px;
		margin-bottom: 2px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	li i.handle{
	  float:left;
	  line-height: 40px;
	  font-size: 20px;
	  margin-right: 20px;
	}

	.tabla-asignaturas-oferta{
		margin-left: 0px;
	}

	.tabla-asignaturas-oferta ul, #todas-asignaturas ul {
		padding-left: 0;
	}
	#myInput {
    background-image: url("{% static 'css/oferta/searchicon.png' %}"); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
	}
	.hide{
		display:none !important;
	}
	#editar{
		background: #FAD534;
		color: white;
		margin-left: 600px;
		margin-bottom: 5%;
		margin-left: 5%;
	}
	#editar:hover {
    	background-color: #FAD534;
    	color: black;

	}
	#id_trimestre {
		font-size: 28px;
	}

	#id_trimestre[disabled="true"] {
		color: black;
		border: 0px;
	}

	#id_anio {
		background-color: #C9C6BB;
		font-size: 28px;
		width: 5rem;
	}

	#id_anio[disabled="true"] {
		color: black;
		-webkit-appearance: none;
		border: none;
		margin: 0;
	}


</style>
<link rel="stylesheet" href="{% static 'css/oferta/index.css' %}">

{% endblock customhead %}
{% block wrapper %}
<div class="container-fluid">
	<form action="{% url 'oferta:detalles-oferta' oferta.pk %}" method="POST" >
		{% csrf_token %}
		<div class="row">
			<div class="col-11">
				<h4>Trimestre: </h4>
				{% render_field form.trimestre disabled="true" class="editable thing-1" %}
				<h4>Año: </h4>
				{% render_field form.anio class="editable thing-2" disabled="true" %}
				{{form.coordinacion.as_hidden}}
				{{formset.management_form}}
				<div id="input-container">
				</div>
			</div>
			<div class="col-1">
				<button id="editar" type="button" class="btn btn--edit">
						<span class="fa fa-edit"></span>
				</button>
			</div>
		</div>
		<!--Fin del boton-->
		<div class="container-fluid margin-left">
			<div class="row" id="input-container">
				<div id="helper" class="col-md-6 d-none"></div>
				<div class="col-md-6">
						<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar...">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 tabla-asignaturas-oferta">
					<div class="category">Asignaturas de la Oferta</div>
						<ul class="sortable">
							{% for asignatura in asignaturas %}
							<li data-id="{{asignatura.id}}"><i class="handle fa fa-bars hide"></i>{{asignatura.codasig}} - {{asignatura.nombre}}</li>
							{% endfor %}
						</ul>
				</div>
				<div class="col-md-6 invisible" id="todas-asignaturas">
						<div class="category">Todas las Asignaturas</div>
						<ul class="sortable">
							{% for asignatura in lista_asignaturas %}
							<li data-id="{{asignatura.id}}"><i class="handle fa fa-bars"></i>{{asignatura.codasig}} - {{asignatura.nombre}}</li>
							{% endfor %}
						</ul>
				</div>
			</div>
	
	
	
	
	
	
		</div>
	</form>
</div>

{% endblock wrapper %}
{% block customscripts %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src="{% static 'js/oferta/detalles.js' %}"></script>
{%  endblock customscripts %}