{% extends "base/base_coordinador.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'css/oferta/index.css' %}">
{% endblock customhead %}
{% block wrapper %}

	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<p class="title">Ofertas</p>
		</div>
		<div class="col-md-2">
			<div class="text-center pagination-centered">
				<a class="botonAgregar"><span class="fa fa-plus fa-3x" style="color: #b5b5b5; vertical-align: middle;"></span></a>
			</div>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-5">
			<input type="search" class="buscador" placeholder="" aria-controls="t_asignaturas">
		</div>
	</div>

	<div class="row" id="oferta-box" style="margin-top: 50px">		
		<input type="hidden" name="json-url" value="{% url 'oferta:oferta-json' %}">
		<!--Anadir una oferta-->
		<div class="col-md-3">
			<div class="flip3D">
				<div id="create-oferta-box" class="front">
					<button id="oferta-add" data-url="{% url 'oferta:anadir-oferta' %}" class="btn btn-lg"><i class="fa fa-plus"></i></button>
				</div>
				<div id="create-oferta-form" class="back">

				</div>
			</div>
		</div>

	</div>


{% endblock wrapper %}
{% block customscripts %}
<script src="{% static 'js/toastr.min.js' %}" charset="utf8"></script>
<script src="{% static 'js/oferta/index.js' %}"></script>

{%  endblock customscripts %}
