<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ofertas</title>
</head>
<body>
    <!--Info de la USB -->
    <table>
        <tr>
            <td>
            <div align="center">
                <!-- Logo de la USB-->
                <div style="width: 100px; margin-bottom: auto;">
                    <img src="static/images/USB_logo.svg.png" alt="Logo de la USB">
                </div>
                <!-- Más info -->
                <div>
                    <p style="margin-bottom: auto;"><b>UNIVERSIDAD SIMÓN BOLÍVAR</b></p>
                    <p style="margin-top:auto;">Sistema de Incripción de Postgrado</p>
                </div>
            </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <!--Título-->
    <div>
        <div align="center">
            <h1 style="margin-bottom: 0;">OFERTAS</h1>

            {% if not ofertas %}
            <h3 style="margin-top: 0">No se encontraron ofertas.</h3>
            {% endif %}
        </div>
    </div>
    
    <!--Tabla de las ofertas-->
    <div>
        {% for oferta in ofertas %}
        <!--Head de las tablas-->
        <div align="center">
            <h2>{{oferta.get_trimestre_display}} {{oferta.anio}}</h2>
        </div>
        <table style="border: 1px solid black; padding: 2px;">
            <!--Columnas de las tablas que seran Asignatura, nombre de la asignatura y profesores -->
            <tr>
                <th style="background-color: rgb(208, 208, 208);">
                    Asignatura
                </th>
                {% if oferta.asignatura.all %}
                <th style="background-color: rgb(208, 208, 208);">
                    Nombre
                </th>
                <th style="background-color: rgb(208, 208, 208);">
                    Profesores
                </th>
                {% endif %}
            </tr>

            <tr>
                <!--En esta parte se muestran las filas de la tabla que son las asignaturas-->
                {% if oferta.asignatura.all %}
                    {% for asignatura in oferta.asignatura.all %}
                    <td>
                        {{asignatura.codasig}}
                    </td>
                    <td>
                        {{asignatura.nombre}}
                    </td>
                    <td>
                        {{ asignatura.profesores.all|join:', ' }}
                    </td>
                    {% endfor %}
                {% endif %}
                <!--Si no existen asignaturas entonces se muestra la tabla con un mensaje: "Esta oferta no tiene asignaturas"-->
                {% if not oferta.asignatura.all %}
                <td align="center">
                    Esta oferta no tiene asignaturas
                </td>
                {% endif %}

            </tr>

        </table>
        {% endfor %}
    </div>
  </body>
</html>