{% load widget_tweaks %}

<form action="#" method="POST" id="form-modal">
  {% csrf_token %}

      <input type="hidden" name="id" value="{{form.instance.id|default:''}}">
      <span class="text-danger">{{form.non_field_errors}}</span>
      <!-- {{form.errors}} -->


      <div class="form-group">
        <label for="trimestre"><span class="glyphicon glyphicon-pencil"></span> {{ form.trimestre.label }}</label>
        {% render_field form.trimestre class="form-control" id="trimestre" placeholder="Introduzca el Trimestre" %}
        <span class="text-danger">{{form.trimestre.errors.as_text}}</span>
      </div>
      <div class="form-group">
        <label for="anio"><span class="glyphicon glyphicon-pencil"></span> {{ form.anio.label }}</label>
        {% render_field form.anio class="form-control" id="anio" placeholder="Introduzca el Año" %}
        <span class="text-danger">{{form.anio.errors.as_text}}</span>
      </div>



    <button id="submit-btn" type="submit" class="d-none btn btn-primary btn-block"><span
      class="glyphicon glyphicon-ok"></span> Agregar
    </button>
  </div>
</form>
