<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ofertas</title>
</head>
<body>
    <!--Info de la USB -->
    <table>
        <tr>
            <td>
            <div align="center">
                <!-- Logo de la USB-->
                <div style="width: 100px; margin-bottom: auto;">
                    <img src="static/images/USB_logo.svg.png" alt="Logo de la USB">
                </div>
                <!-- Más info -->
                <div>
                    <p style="margin-bottom: auto;"><b>UNIVERSIDAD SIMÓN BOLÍVAR</b></p>
                    <p style="margin-top:auto;">Sistema de Incripción de Postgrado</p>
                </div>
            </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <!--Título-->
    <div>
        <div align="center">
            <h1 style="margin-bottom: 0;">Oferta de Asignaturas</h1>
            {% if ofertas %}
            <h3 style="margin-top: 0;">{{trim_inicio}}, {{anio_inicio}} - {{trim_final}}, {{anio_final}}</h3>
            {% endif %}

            {% if not ofertas %}
            <h3 style="margin-top: 0">No se encontraron ofertas.</h3>
            {% endif %}
        </div>
    </div>
    
    <!--Tabla de las ofertas-->
    <table style="border: 1px solid black; padding: 2px;">
        <tr>
            <th style="background-color: rgb(208, 208, 208);">
                Trimestre
            </th>
            <th style="background-color: rgb(208, 208, 208);">
                A&ntilde;o
            </th>
            <th style="background-color: rgb(208, 208, 208);">
                Coordinaci&oacute;n
            </th>
        </tr>
        {% for oferta in ofertas %}
        <tr>
            <td>
                {{oferta.get_trimestre_display}}
            </td>
            <td>
                {{oferta.anio}}
            </td>
            <td>
                {{oferta.coordinacion}}
            </td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>