{% load widget_tweaks %}

<!--Modal para agregar asignatura-->
<input type="hidden" name="horario_formset_prefix" value="{{formset1.prefix}}">
<input type="hidden" name="programa_formset_prefix" value="{{formset2.prefix}}">
<div class="modal fade" id="agregar-modal" role="dialog">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal_title">Agregar asignatura</h4>
            <div class="float-right">
              <button class="editar_asignatura btn btn-success asignatura-btn" onclick="habilitar_edicion(this)">
                <i class="far fa-edit"></i>
              </button>
              <button class="btn btn-danger asignatura-btn" data-toggle="modal"
                  data-target="#confirmar-eliminar-modal" data-codasig="{{asignatura.codasig}}"
                  onclick="show_eliminar_modal(this);">
                  <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>
          <div class="modal-body" >
              <!-- La paginacion esta implementada a traves de tabs (Sujeto a cambios) -->
              <ul class="nav nav-tabs" id="tabContent">
                <li class="nav-item active"><a class="nav-link show active" href="#informacion_basica" data-toggle="tab">Información básica</a></li>
                <li class="nav-item"><a class="nav-link" href="#horario" data-toggle="tab">Horarios</a></li>
                <li class="nav-item"><a class="nav-link" href="#programa" data-toggle="tab">Programas</a></li>
              </ul>
              <form action="" method="POST" >
                {% csrf_token %}
                <div class="tab-content">

                  <div class="tab-pane active" id="informacion_basica">
                    <!-- Datos para la informacion basica -->
                    <div class="form-group">
                      <label for="nombre-asig"><span class="glyphicon glyphicon-pencil"></span> {{ form.nombre.label }}</label>
                      {% render_field form.nombre class="form-control mostrar-only" id="nombre-asig" placeholder="Introduzca el nombre" %}
                    </div>
                    <div class="form-group">
                      <label for="creditos"><span class="glyphicon glyphicon-pencil"></span> {{ form.creditos.label }}</label>
                      {% render_field form.creditos class="form-control mostrar-only" id="creditos" placeholder="Introduzca el número de créditos" %}
                    </div>
                    <div class="form-group">
                      <label for="codigo"><span class="glyphicon glyphicon-file"></span> {{ form.codasig.label }}</label>
                      {% render_field form.codasig class="form-control mostrar-only" id="codigo" placeholder="Introduzca el código" %}
                    </div>

                    <div class="form-group">
                      <label for="profesores"><span class="glyphicon glyphicon-file"></span> {{ form.profesores.label }}</label>
                      {% render_field form.profesores class="form-control mostrar-only" %}
                    </div>

                    <div class="form-group">
                      <label for="coordinacion"><span class="glyphicon glyphicon-file"></span> {{ form.pertenece.label }}</label>
                      {% render_field form.pertenece class="form-control mostrar-only" %}
                    </div>

                    <input type="hidden" id="type" name="type" value="">
                    {% comment %} <button type="button" data-toggle="tab" class="btn btn-success btn-block"><span
                      class="glyphicon glyphicon-ok"></span> Siguiente
                    </button> {% endcomment %}

                  </div>

                  <!-- Informacion de los horarios de la asignatura -->
                  <div class="tab-pane" id="horario">
                    {% for form in formset1 %}
                    <div class="form-row">
                      {{form.asignatura}}
                      {{form.id}}
                      <div class="form-group col-md-6">
                        <label for="dia"><span class="glyphicon glyphicon-pencil"></span> {{ form.dia.label }}</label>
                        {% render_field form.dia id="dia" class="form-control mostrar-only"%}
                      </div>

                      <div class="form-group col-md-3">
                        <label for="hora_inicio"><span class="glyphicon glyphicon-pencil"></span> {{ form.hora_inicio.label }}</label>
                        {% render_field form.hora_inicio id="hora_inicio" class="form-control mostrar-only"%}
                      </div>

                      <div class="form-group col-md-3">
                        <label for="hora_final"><span class="glyphicon glyphicon-pencil"></span> {{ form.hora_final.label }}</label>
                        {% render_field form.hora_final id="hora_final" class="form-control mostrar-only"%}
                      </div>
                    </div>
                    {% endfor %}
                    {{formset1.management_form}}

                    <input type="hidden" id="type" name="type" value="">
                    {% comment %} <button type="button" data-toggle="tab" class="btn btn-success btn-block"><span
                      class="glyphicon glyphicon-ok"></span> Siguiente
                    </button> {% endcomment %}
                  </div>

                  <!-- Form para los programas  -->
                  <div class="tab-pane" id="programa">
                      {% for form in formset2 %}
                        <div class="form-group">
                            {{form.asignatura}}
                            {{form.id}}
                            <label for="codigo"><span class="glyphicon glyphicon-pencil"></span> {{ form.codigo.label }}</label>
                            {% render_field form.codigo class="form-control mostrar-only" id="codigo" placeholder="Introduzca el código" %}
                        </div>
                      {% endfor %}
                      {{formset2.management_form}}

                      <input type="hidden" id="type" name="type" value="">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block"><span
                    class="glyphicon glyphicon-ok"></span> <span id="agregar-btn-text"></span>
                  </button>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>