<!--Este template recibe su informacion de la vista de asignaturas llamada EliminarAsignaturasView
    Que viene de la carpeta asignaturas/views.py-->
<!-- Delete Modal -->
<div class="modal fade" id="confirmar-eliminar-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Estás seguro que deseas eliminar <span class="asignatura-a-eliminar"></span>?</h4>
            </div>
            <div class="modal-body">

              <!--Form para eliminar la asignatura-->
              <form id="form-eliminar" action="{% url 'asignaturas:eliminar-asignatura' %}" method="post">
                  {% csrf_token %}
                  <!-- Para indicarle al backend que se debe eliminar -->
                  <input type="text" value="delete" name="_method" style="display: none;">

                  <!--Para pasarle al backend la asignatura-->
                  <input type="text" name="codasig" style="display: none;" required>

                  <button type="submit" class="btn btn-primary" id="delete">
                    Eliminar
                  </button>

                  <button type="button" data-dismiss="modal" class="btn">
                    Cancelar
                  </button>
              </form>
            </div>
        </div>
    </div>
</div>
