{% extends "base/base_coordinador.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/asignaturas/index.css' %}" type="text/css">
{% endblock stylesheets %}
{% block wrapper %}

<h1 class="display-3">Asignaturas</h1>
<div class="row">
  <div class="col mx-5 my-2">
      <!-- Datable de Asignaturas-->
      <table id="t_asignaturas" class="display">
        <!--Asignaturas de prueba-->
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Creditos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="#">Traductores e Interpretadores</a>
              <!--Este boton todavía no hace nada-->
              <button class="btn btn-danger eliminar-asignatura-btn"><i class="far fa-trash-alt"></i></button>
            </td>
            <td>CI3725</td>
            <td>5</td>
          </tr>
          <tr>
            <td>
              <a href="#">Modelos Lineales I</a>
              <!--Este boton todavía no hace nada-->
              <button class="btn btn-danger eliminar-asignatura-btn"><i class="far fa-trash-alt"></i></button>
            </td>
            <td>PS1111</td>
            <td>4</td>
          </tr>
          <tr>
            <td>
              <a href="#">Lógica Simbólica</a>
              <!--Este boton todavía no hace nada-->
              <button class="btn btn-danger eliminar-asignatura-btn"><i class="far fa-trash-alt"></i></button>
            </td>
            <td>CI2511</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

{% endblock wrapper %}
{% block scripts %}
<!-- Para el Datatable-->
<script src="{% static 'js/jquery.dataTables.js' %}" charset="utf8"></script>
<script src="{% static 'js/asignaturas/index.js' %}"></script>
{%  endblock scripts %}
