{% extends "base/base_coordinador.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/fselect.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/asignaturas/index.css' %}" type="text/css">
{% endblock customhead %}
{% block wrapper %}

 <!-- New  button -->
<input type="hidden" name="tabla-json" value="{% url 'asignaturas:all-json' %}">
<div class="container-fluid">
  <div class="animated fadeIn">
    <h1>Asignaturas</h1>
    <div class="text-center">
        <button type="button"
        class="btn btn-primary" id="new" onclick="obtenerAsignatura(this, '{% url 'asignaturas:anadir-asignatura' %}', true);">
          Agregar
        </button>
    </div>
    <div id="form-errors" class="text-danger">
        <ul>
          {% if form.errors %}
            <li class="d-block">{{form.errors}}</li>
          {% endif %}
          {% for form1 in formset1 %}
            {% if form1.errors %}
              <li class="d-block">{{form1.errors}}</li>
            {% endif %}
          {% endfor %}
          {% for form2 in formset2 %}
            {% if form2.errors %}
              <li class="d-block">{{form2.errors}}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    <div class="row">
      <div class="col">
          <!-- Datable de Asignaturas-->
          <table id="t_asignaturas" class="display">
            <!--Asignaturas de prueba-->
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Creditos</th>
                <th>Fecha de Edición</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<!--Modal para agregar asignatura-->
<input type="hidden" name="horario_formset_prefix" value="{{formset1.prefix}}">
<input type="hidden" name="programa_formset_prefix" value="{{formset2.prefix}}">
<div class="modal fade" id="agregar-modal" role="dialog">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal_title">Agregar asignatura</h4>
            <div class="float-right">
              <button class="editar_asignatura btn btn-success asignatura-btn" onclick="habilitar_edicion(this)">
                <i class="far fa-edit"></i>
              </button>
              <button class="btn btn-danger asignatura-btn" data-toggle="modal"
                  data-target="#confirmar-eliminar-modal" data-codasig="{{form.instance.codasig}}"
                  onclick="show_eliminar_modal(this);">
                  <i class="far fa-trash-alt"></i>
              </button>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="modal-body" >
              <!-- La paginacion esta implementada a traves de tabs (Sujeto a cambios) -->
              <ul class="nav nav-tabs" id="tabContent">
                <li class="nav-item active"><a class="nav-link show active" href="#informacion_basica" data-toggle="tab">Información básica</a></li>
                <li class="nav-item"><a class="nav-link" href="#horario" data-toggle="tab">Horarios</a></li>
                <li class="nav-item"><a class="nav-link" href="#programa" data-toggle="tab">Programas</a></li>
              </ul>
              <div id="asig-container">
                <!-- Aqui va el detail y el form -->
              </div>
            </div>
        </div>
      </div>
</div>
{% include "asignaturas/eliminar_asignatura.html" %}

{% endblock wrapper %}
{% block customscripts %}
<!-- Para el Datatable-->
<script src="{% static 'js/jquery.dataTables.js' %}" charset="utf8"></script>
<script src="{% static 'js/toastr.min.js' %}" charset="utf8"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}" charset="utf8"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/fselect.js' %}"></script>
<script src="{% static 'js/asignaturas/index.js' %}"></script>
{%  endblock customscripts %}
