{% extends "base/base_coordinador.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/asignaturas/index.css' %}" type="text/css">
{% endblock customhead %}
{% block wrapper %}

 <!-- New  button -->
<input type="hidden" name="tabla-json" value="{% url 'asignaturas:all-json' %}">
<div class="container-fluid">
  <div class="animated fadeIn">
    <h1>Asignaturas</h1>
    <div class="text-center">
        <button type="button"
        class="btn btn-primary" id="new" onclick="obtenerAsignatura(this, '{% url 'asignaturas:anadir-asignatura' %}', true);">
          Agregar
        </button>
    </div>
    <div id="form-errors" class="text-danger">
        <ul>
          {% if form.errors %}
            <li class="d-block">{{form.errors}}</li>
          {% endif %}
          {% for form1 in formset1 %}
            {% if form1.errors %}
              <li class="d-block">{{form1.errors}}</li>
            {% endif %}
          {% endfor %}
          {% for form2 in formset2 %}
            {% if form2.errors %}
              <li class="d-block">{{form2.errors}}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    <div class="row">
      <div class="col">
          <!-- Datable de Asignaturas-->
          <table id="t_asignaturas" class="display">
            <!--Asignaturas de prueba-->
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Creditos</th>
                <th>Fecha de Edición</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
{% include "asignaturas/asignatura_form.html" %}

{% include "asignaturas/eliminar_asignatura.html" %}

{% endblock wrapper %}
{% block customscripts %}
<!-- Para el Datatable-->
<script src="{% static 'js/jquery.dataTables.js' %}" charset="utf8"></script>
<script src="{% static 'js/toastr.min.js' %}" charset="utf8"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/asignaturas/index.js' %}"></script>
{%  endblock customscripts %}
