<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'stylesheets/jquery.dataTables.css' %}" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Sistema de Inscripción de Posgrado</h1>
        <p class="text-center">Puedes visualizar todas las asignaturas</p>
    </div>

    <!-- New  button -->
    <div class="text-center">
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="new">Agregar</button>
    </div>

    <!-- datatables -->
    <table id="datatables" class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Créditos</th>
            <th>Profesor</th>
            <th>Departamento</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tfoot>
        <tr>

        </tr>
        </tfoot>
    </table>


    <!-- NEW and EDIT Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="nombre"><span class="glyphicon glyphicon-pencil"></span> Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduzca el nombre"
                                   required="true">
                        </div>
                        <div class="form-group">
                            <label for="creditos"><span class="glyphicon glyphicon-pencil"></span> Créditos</label>
                            <input type="text" class="form-control" id="creditos" name="creditos"
                                   placeholder="Introduzca los créditos" required="true">
                        </div>
                        <div class="form-group">
                            <label for="codigo"><span class="glyphicon glyphicon-file"></span> Código</label>
                            <input type="text" class="form-control" id="codigo" name="codigo"
                                   placeholder="Introduzca el código" required="true">
                        </div>

                        <input type="hidden" id="type" name="type" value="">
                        <button type="submit" class="btn btn-success btn-block"><span
                                class="glyphicon glyphicon-ok"></span> OK
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="confirm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">¿Estás seguro?</h4>
                </div>
                <div class="modal-body">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Eliminar</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>